= render 'templates/single-header'
.registar-frame
  .registar-main
    %h2.registar-main__title
      新規会員登録
    .registar-main__content
      .registar-main__content__inner
        .registar-main__content__inner__cell__mail
          = link_to new_user_registration_path, class: 'registar-main__content__inner__cell__mail__url'  do
            %i.far.fa-envelope
            %p  メールアドレスで登録
        .registar-main__content__inner__cell__facebook
          = link_to "#", class: 'registar-main__content__inner__cell__facebook__url'  do
            %i.fab.fa-facebook-square
            = link_to user_facebook_omniauth_authorize_path, "Facebookで登録"
        .registar-main__content__inner__cell__google
          = link_to "#", class: 'registar-main__content__inner__cell__google__url'  do
            = link_to user_google_oauth2_omniauth_authorize_path, "Googleで登録"
          =image_tag 'common/google-icon.png', class: 'registar-main__content__inner__cell__google__img'
= render 'templates/single-footer'