= render 'users/user-registar-header/user-registar-header4'
.registar4-frame 
  .registar4-main 
    %h2.registar4-main__title 
      支払い方法
    .registar4-main__content
      .registar4-main__content__form
        .registar4-main__content__form__required
          %span.identification_inner___form__required__label カード番号
          %p 必須
          %input{name: "number", type: "text", value: "", placeholder: "例)半角英数のみ", class: "registar4-main__content__form__required__number"}>/
        .registar4-main__content__form__card__img
          = image_tag 'common/visa_icon.svg', class: 'registar4-main__content__form__card__img__visa'
          = image_tag 'common/master_icon.svg', class: 'registar4-main__content__form__card__img__visa'
          = image_tag 'common/saison_icon.svg', class: 'registar4-main__content__form__card__img__visa'
          = image_tag 'common/jcb_icon.svg', class: 'registar4-main__content__form__card__img__visa'
          = image_tag 'common/amex_icon.svg', class: 'registar4-main__content__form__card__img__visa'
          = image_tag 'common/dinersclub_icon.svg', class: 'registar4-main__content__form__card__img__visa'
          = image_tag 'common/discover_icon.svg', class: 'registar4-main__content__form__card__img__visa'
        .registar4-main__content__form__required
          %span.identification_inner___form__required__label 有効期限
          %p 必須
          .registar4-main__content__form__required__limit
            .registar4-main__content__form__required__limit__month
              %select
              %option
                01
              %i.fas.fa-chevron-down
            %h2 月
          .registar4-main__content__form__required__limit
            .registar4-main__content__form__required__limit__year
              %select
              %option
                19
              %i.fas.fa-chevron-down
            %h2 年
        .registar4-main__content__form__required
          %span.identification_inner___form__required__label セキリュティコード
          %p 必須
          %input{name: "security_code", type: "text", value: "", placeholder: "例)カード背面4桁もしくは3桁の番号", class: "registar4-main__content__form__required__number"}>/ 
        .registar4-main__content__form__seqcode
          %p ?
          .registar4-main__content__form__seqcode__about
            =link_to'カード裏面の番号とは?', class: 'registar4-main__content__form__seqcode__about' 
        .registar4-main__content__form__next
          次へ進む
= render 'templates/single-footer'