= render 'users/user-registar-header/user-registar-header3'
.registar3-frame 
  .registar3-main 
    %h2.registar3-main__title
      住所入力
    .registar3-main__content
      .registar3-main__content__form
        .registar3-main__content__form__required
          %span.identification_inner___form__required__label 姓（全角）
          %p 必須
          = f.text_field :kanji_surname, placeholder:'例)山田'
        .registar3-main__content__form__required
          %span.identification_inner___form__required__label 名（全角）
          %p 必須
          = f.text_field :kanji_name, placeholder: '例）太郎'
        .registar3-main__content__form__required
          %span.identification_inner___form__required__label 姓カナ（全角）
          %p 必須
          = f.text_field :kana_surname, placeholder: '例）ヤマダ'
        .registar3-main__content__form__required
          %span.identification_inner___form__required__label 名カナ（全角）
          %p 必須
          = f.text_field :kana_name, placeholder: '例）ハナコ'
        .registar3-main__content__form__required
          %span.identification_inner___form__required__label 郵便番号
          %p 必須
          = f.text_field :postal_code, placeholder: '例）123-4567' 
        .registar3-main__content__form__required
          %span.identification_inner___form__required__label 都道府県
          %p 必須
          = f.text_field :prefecture, placeholder: '例）大阪府' 
        .registar3-main__content__form__required  
          %span.identification_inner___form__required__label 市区町村
          %p 必須
          = f.text_field :city, placeholder: "例)堺市東区"}>/     
        .registar3-main__content__form__required  
          %span.identification_inner___form__required__label 番地
          %p 必須
          = f.text_field :street_number, placeholder: "例)７番街"
        .registar3-main__content__form__option  
          %span.identification_inner___form__required__label 建物名
          %p 任意
          = f.text_field :building, placeholder: "例)セブンスヘブン"    
        .registar3-main__content__form__option 
          %span.identification_inner___form__required__label 電話番号
          %p 任意
          = f.text_field :home_number, placeholder: "例)06-1234-5678"
        .registar3-main__content__form__next
          次へ進む
= render 'templates/single-footer'