= render 'templates/single-header'
.main-frame
  .single-main
    .single-main__title
      %h2.single-main__title__text
        購入内容の確認
    .single-main__content
      .single-main__content__product
        .single-main__content__product__inner
          = image_tag @product.images.first.image.url, class: 'single-main__content__product__inner__image'
          %p.single-main__content__product__inner__title
            = @product.name
        .single-main__content__product__inner__form
          %p.single-main__content__product__inner__form__price
            = "¥#{@product.price.to_s(:delimited)}"
            %span.single-main__content__product__inner__form__price__span
              送料込み
          .single-main__content__product__inner__form__user__point
            .single-main__content__product__inner__form__user__point__number
              ポイントはありません。
          .single-main__content__product__inner__form__buy
            .single-main__content__product__inner__form__buy__text
              支払い金額
            .single-main__content__product__inner__form__buy__price
              = "¥#{@product.price.to_s(:delimited)}"
          = button_to "購入する", {controller: 'purchases', action: 'update'}, {method: :patch , class:'single-main__content__product__inner__form__submit', id: "purchase-btn"}
    .single-main__destination
      .single-main__destination__inner
        %h3.single-main__destination__inner__title
          配送先
        .single-main__destination__inner__info
          .single-main__destination__inner__info__address
            = "〒#{current_user.address.postal_code}"
            .br
              = "兵庫県#{current_user.address.city}"
            .br
              = current_user.nickname
        = link_to '#', class: 'single-main__destination__inner__edit' do
          変更する >
    .single-main__pay
      .single-main__pay__inner
        .single-main__pay__inner__title
          支払い方法
        .single-main__pay__inner__info
          = "**** **** **** " + @card_information.last4
          .br
            - exp_month = @card_information.exp_month.to_s
            - exp_year = @card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
        .single-main__pay__inner__cell
          = image_tag "#{@card_src}",alt: @card_brand, class: 'single-main__pay__inner__cell__image', height: '15', width: '49', id: "card_image"
        = link_to cards_path(@card), class: 'single-main__pay__inner__edit' do
          変更する >
= render 'templates/single-footer'