.wrapper
  .header
    = render partial: "partials/header"
  .breadcrumbs-header
    -breadcrumb :logout
    = breadcrumbs separator: "&rsaquo;"
  .main
    = render partial: "partials/logout-inside"
  .banner
    = render partial: "partials/banner"
  .footer
    = render partial: "partials/footer"
  .sell-camera
    = render partial: "partials/sell-camera"