= render 'templates/single-header'
.log_in-frame
  .log_in-main
    .log_in-main__new
      %p アカウントをお持ちでない方はこちら
      .log_in-main__new__box
        = link_to '新規会員登録', new_user_registration_path, class: 'log_in-main__new__box__link'
    .log_in-main__sns
      .log_in-main__sns__facebook
        = link_to "#", class: 'log_in-main__sns__facebook__url'  do
          %i.fab.fa-facebook-square
          %p  Facebookでログイン
      .log_in-main__sns__google
        = link_to "#", class: 'log_in-main__sns__google__url' do
          %p  Googleでログイン
        =image_tag 'common/google-icon.png', class: 'log_in-main__sns__google__img'   
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'log_in-main__form' }) do |f|
      .log_in-main__form__box1
        .log_in-main__form__box1__mail
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス'
      .log_in-main__form__box2
        .log_in-main__form__box2__pass
          = f.password_field :password, autocomplete: "current-password", placeholder: 'パスワード'
      .log_in-main__form__box3
        .g-recaptcha{"data-sitekey" => "6LdsYqgUAAAAAE_S1gGbyzcki_z5A-W_HAS7KAak"}
      .log_in-main__form__box4
        = f.submit "ログイン"
      .actions
        = link_to "#", class: 'log_in-main__form__forget' do
          %p パスワードをお忘れの方
= render 'templates/single-footer'
