= render 'partials/header'
.product__categories__conteiner
  .product__categories__conteiner__content
    %h1 
      = "#{@category.name}の商品一覧"
    .product__categories__conteiner__content__items
      -@products.each do |product|
        .pickup-container__items__item-box
          = render partial: 'products/products-content', locals: { product: product }
= render 'partials/banner'
= render 'partials/footer'
= render 'partials/sell-camera'