.single-footer
  .single-footer__nav
    .single-footer__nav__inner
      %ul.single-footer__nav__inner__list
        %li.single-footer__nav__inner__list__child
          = link_to '#', class: 'single-footer__nav__inner__list__child__url' do
            プライバシーポリシー
        %li.single-footer__nav__inner__list__child
          = link_to '#', class: 'single-footer__nav__inner__list__child__url' do
            メルカリ利用規約  
        %li.single-footer__nav__inner__list__child
          = link_to '#', class: 'single-footer__nav__inner__list__child__url' do
            特定商取引
      .single-footer__nav__inner__top-page__link
        = link_to '#', class: 'single-footer__nav__inner__top-page__link__url' do
          = image_tag 'logo-gray.svg', class: 'single-footer__nav__inner__top-page__link__url__image'
    .single-footer__nav__inner__version
      © 2019 Mercari
