= render 'partials/header'
.top-main-visual
  .top-main-visual__base
    = image_tag  "common/main_content_pc.png", class: "top-main-visual__base__right-image"
    .top-main-visual__base__content
      %h2<スマホでかんたん
      %h2<フリマアプリ
      %p<メルカリはスマホカメラからすぐに出品できる
      %p<購入時も安心な独自システムのアプリです
      .top-main-visual__base__content__googlebtn
        = link_to '#' do
          = image_tag 'common/app-store.svg', alt: 'app-store', height: '50', width: '170'
        = link_to '#' do
          = image_tag 'common/google-play.svg', alt: 'google-play', height: '50', width: '170'
.pickup-container
  .pickup-container__title<ピックアップカテゴリー
  -@category_products.each_with_index do |products,index|
    - if products.present?
      = link_to category_path(@parent_categories[index]) do
        %h2
          =@parent_categories[index].name
      .pickup-container__items
        -products.order("created_at DESC").limit(4).each do |product|
          = render partial: 'products-content', locals: { product: product }
      .pickup-container__view-all
        = link_to category_path(@parent_categories[index]) do
          %p<すべての商品を見る
            
  
= render 'partials/banner'
= render 'partials/footer'
= render 'partials/sell-camera'

-# -@products_box.each do |test|
-#   -test.name
