.background-header
  = render 'partials/header'
.products-information
  %h1<ショルダーバッグ
  .products-information__item
    .products-information__item__image
      = image_tag 'common/m75253462854_5.jpg', class: 'products-information__item__image__photo'
    .products-information__item__description
      .products-information__item__description__content
        .products-information__item__description__content__left-body
          %h1<出品者
        .products-information__item__description__content__right-body
          = link_to '#' do
            %p<出品者名
      .products-information__item__description__content
        .products-information__item__description__content__left-body
          %h1<カテゴリー
        .products-information__item__description__content__right-body
          = link_to '#' do
            %h3.category-name<カテゴリー名
            %h3.category-name<カテゴリー名
            %h3.category-name<カテゴリー名
      .products-information__item__description__bottom-content
        .products-information__item__description__bottom-content__left-body
          %h1<ブランド
        .products-information__item__description__bottom-content__right-body
          = link_to '#' do
            %p.brand-name<ブランド名
      .products-information__item__description__bottom-content
        .products-information__item__description__bottom-content__left-body
          %h1<商品の状態
        .products-information__item__description__bottom-content__right-body
          %p<やや傷や汚れあり
      .products-information__item__description__bottom-content
        .products-information__item__description__bottom-content__left-body
          %h1<配送料の負担
        .products-information__item__description__bottom-content__right-body
          %p<送料込み(出品者負担)
      .products-information__item__description__bottom-content
        .products-information__item__description__bottom-content__left-body
          %h1<配送の方法
        .products-information__item__description__bottom-content__right-body
          %p<らくらくメルカリ便
      .products-information__item__description__bottom-content
        .products-information__item__description__bottom-content__left-body
          %h1<配送元地域
        .products-information__item__description__bottom-content__right-body
          = link_to '#' do
            %p.location-name<兵庫県
      .products-information__item__description__bottom-content
        .products-information__item__description__bottom-content__left-body
          %h1<発送日の目安
        .products-information__item__description__bottom-content__right-body
          %p<2~3日で発送
  .products-information__price
    .products-information__price__text-box
      %h1<¥ 3,000
      %h2<(税込)
      %h3<送料込み
  = link_to '#' do
    .products-information__checkout-btn
      %p<購入画面に進む
  .products-information__user-message
    %p<COACH コーチ ショルダーバッグをご覧いただきありがとうございます。何年も前に正規品店で購入させて頂いた物になります。
    付属品などはございません。
    一ヶ月ほどしか使用しておらず、
    綺麗な状態ですが保管の際についた小傷などはございます。
    ご不明点があればコメントよろしくお願いいたします。
= link_to '#' do
  %h2.products-name<atsutoさんのその他の出品
.products-informationpage__items
  .products-informationpage__items__item-box
    = link_to '#' do
      = image_tag "common/m86176299718_1.jpg", class: "products-informationpage__items__item-box__image"
      .products-informationpage__items__item-box__description
        %h3<ここに商品の説明をかく
        .products-informationpage__items__item-box__description__num
          %p<¥ 830
        %h4<(税込)
  .products-informationpage__items__item-box
    = link_to '#' do
      = image_tag "common/m86176299718_1.jpg", class: "products-informationpage__items__item-box__image"
      .products-informationpage__items__item-box__description
        %h3<ここに商品の説明をかく
        .products-informationpage__items__item-box__description__num
          %p<¥ 830
        %h4<(税込)
  .products-informationpage__items__item-box
    = link_to '#' do
      = image_tag "common/m86176299718_1.jpg", class: "products-informationpage__items__item-box__image"
      .products-informationpage__items__item-box__description
        %h3<ここに商品の説明をかく
        .products-informationpage__items__item-box__description__num
          %p<¥ 830
        %h4<(税込)
  .products-informationpage__items__item-box
    = link_to '#' do
      = image_tag "common/m86176299718_1.jpg", class: "products-informationpage__items__item-box__image"
      .products-informationpage__items__item-box__description
        %h3<ここに商品の説明をかく
        .products-informationpage__items__item-box__description__num
          %p<¥ 830
        %h4<(税込)
  
= link_to '#' do
  %h2.products-name<同じカテゴリのその他の出品
.products-informationpage__items
  .products-informationpage__items__item-box
    = link_to '#' do
      = image_tag "common/m86176299718_1.jpg", class: "products-informationpage__items__item-box__image"
      .products-informationpage__items__item-box__description
        %h3<ここに商品の説明をかく
        .products-informationpage__items__item-box__description__num
          %p<¥ 830
        %h4<(税込)
  .products-informationpage__items__item-box
    = link_to '#' do
      = image_tag "common/m86176299718_1.jpg", class: "products-informationpage__items__item-box__image"
      .products-informationpage__items__item-box__description
        %h3<ここに商品の説明をかく
        .products-informationpage__items__item-box__description__num
          %p<¥ 830
        %h4<(税込)
  .products-informationpage__items__item-box
    = link_to '#' do
      = image_tag "common/m86176299718_1.jpg", class: "products-informationpage__items__item-box__image"
      .products-informationpage__items__item-box__description
        %h3<ここに商品の説明をかく
        .products-informationpage__items__item-box__description__num
          %p<¥ 830
        %h4<(税込)
  .products-informationpage__items__item-box
    = link_to '#' do
      = image_tag "common/m86176299718_1.jpg", class: "products-informationpage__items__item-box__image"
      .products-informationpage__items__item-box__description
        %h3<ここに商品の説明をかく
        .products-informationpage__items__item-box__description__num
          %p<¥ 830
        %h4<(税込)
    
= render 'partials/banner'
= render 'partials/footer'