= render "partials/header"
.breadcrumbs-header
  -breadcrumb :search, @keyword
  = breadcrumbs separator: "&rsaquo;"
.search-container
  .search-container__l-content
    .search-container__l-content__side-bar
      .search-container__l-content__side-bar__sort
    .search-container__l-content__extend
      %h3 詳細検索
      = search_form_for(@q, url:search_products_url) do |f|
        .search-container__l-content__extend__keyword
          %i.fas.fa-plus
          =f.label :keyword, "キーワードを追加する"
          = f.search_field :name_cont, placeholder: '例) 値下げ'
        .search-container__l-content__extend__category
          %i.fas.fa-list
          =f.label :category, "カテゴリーを選択する"
          = f.collection_select :category_parent_id_eq, @categories, :id, :name, include_blank: 'すべて'
        .search-container__l-content__extend__brand
          %i.fas.fa-tag
          =f.label :brand, "ブランド名から探す"
          = f.search_field :brand_eq, placeholder: '例) シャネル'
        .search-container__l-content__extend__size
          %i.fas.fa-arrows-alt-h
          %span サイズを指定する
          %select 
        .search-container__l-content__extend__price
          %i.fas.fa-coins
          %span 価格を指定する
          .search-container__l-content__extend__price__select
            = f.select :price, @price_list, include_blank: '選択して下さい'
          .search-container__l-content__extend__price__field
            = f.search_field :price_gteq, placeholder: '¥ Min'
            %span ~
            = f.search_field :price_lteq, placeholder: '¥ Max'
        .search-container__l-content__extend__condition
          %i.fas.fa-star
          %span 商品の状態
          .search-container__l-content__extend__condition__check-box
          - @status_list.each do |key, value|
            .search-container__l-content__extend__condition__check-box__choice
              = f.check_box @status, {id: "q_status_check_#{key.to_s}", name: 'q[status_eq_any][]'}, key.to_s, nil
              = f.label "status_check_#{key.to_s}", value
        .search-container__l-content__extend__shipment-fee
          %i.fas.fa-truck
          %span 配送料の負担
          .search-container__l-content__extend__shipment-fee__check-box
          - @obligation_fee_list.each do |key, value|
            .search-container__l-content__extend__shipment-fee__check-box__choice
              = f.check_box @obligation_fee, {id: "q_obligation_fee_check_#{key.to_s}", name: 'q[obligation_fee_eq_any][]'}, key.to_s, nil
              = f.label "obligation_fee_check_#{key.to_s}", value
        .search-container__l-content__extend__status
          %i.fas.fa-shopping-cart
          %span 販売状況
          .search-container__l-content__extend__status__check-box
          - @purchase_status_list.each do |key, value|
            .search-container__l-content__extend__status__check-box__choice
              = f.check_box @purchase_status, {id: "q_purchase_status_check_#{key.to_s}", name: 'q[purchase_status_id_eq_any][]'}, key.to_s, nil
              = f.label "purchase_status_check_#{key.to_s}", value
        .search-container__l-content__extend__button
          = f.button 'クリア', type: :reset
          = f.submit '完了'
  .search-container__r-content
  - if @items.present?
    %h2=params[:q][:name_cont]
    %span の検索結果
    .search-container__r-content__result
      %p 1 -
      .search-container__r-content__result__length
      =@items.length
      .search-container__r-content__result__count
        件
    -@items.each do |item|
      = link_to product_path(item) do
        .search-container__r-content__card
          = image_tag item.images.first.image.url, class: ".search-container__r-content__card__img", height: '160', width: '160'
          .search-container__r-content__card__description
            %h3
              =item.name
            .search-container__r-content__card__description__num
              %p    
                =jpy_comma(item.price)
  - elsif @products.present?
    %h2=params[:keyword]
    %span の検索結果
    .search-container__r-content__result
      %p 1 -
      .search-container__r-content__result__length
      =@products.length
      .search-container__r-content__result__count
        件
    -@products.each do |product|
      = link_to product_path(product) do
        .search-container__r-content__card
          = image_tag product.images.first.image.url, class: ".search-container__r-content__card__img", height: '160', width: '160'
          .search-container__r-content__card__description
            %h3
              =product.name
            .search-container__r-content__card__description__num
              %p    
                =jpy_comma(product.price)
  - else
    .search-container__r-content__noresult
      該当する商品が見つかりません。検索条件を変えて、再度お試しください。

= render "partials/footer"
= render "partials/sell-camera"