.background-header
  = render 'partials/header'
.breadcrumbs-header
  -breadcrumb :product, @product
  = breadcrumbs separator: "&rsaquo;"
.products-information
  %h1
    = @product.name
  .products-information__item
    .products-information__item__image
      .products-information__item__image__slideset
        - @product.images.each do |image|
          = image_tag image.image.url, class: 'products-information__item__image__slideset__slide'
      .products-information__item__image__selector
        - @product.images.each do |image|
          = image_tag image.image.url, class: 'products-information__item__image__selector__photo'
    .products-information__item__description
      .products-information__item__description__content
        .products-information__item__description__content__left-body
          %h1<出品者
        .products-information__item__description__content__right-body
          = link_to '#' do
            %p
              = @product.user.nickname
      .products-information__item__description__content
        .products-information__item__description__content__left-body
          %h1<カテゴリー
        .products-information__item__description__content__right-body
          = link_to '#' do
            -# カテゴリ機能追加時に実装
            %h3.category-name<カテゴリー名
            %h3.category-name<カテゴリー名
            %h3.category-name<カテゴリー名
      .products-information__item__description__bottom-content
        .products-information__item__description__bottom-content__left-body
          %h1<ブランド
        .products-information__item__description__bottom-content__right-body
          = link_to '#' do
            %p.brand-name
              = @product.brand
      .products-information__item__description__bottom-content
        .products-information__item__description__bottom-content__left-body
          %h1<商品の状態
        .products-information__item__description__bottom-content__right-body
          %p
            = @product.status
      .products-information__item__description__bottom-content
        .products-information__item__description__bottom-content__left-body
          %h1<配送料の負担
        .products-information__item__description__bottom-content__right-body
          %p
            = @product.obligation_fee
      .products-information__item__description__bottom-content
        .products-information__item__description__bottom-content__left-body
          %h1<配送の方法
        .products-information__item__description__bottom-content__right-body
          %p
            = @product.shipment_method
      .products-information__item__description__bottom-content
        .products-information__item__description__bottom-content__left-body
          %h1<配送元地域
        .products-information__item__description__bottom-content__right-body
          = link_to '#' do
            %p.location-name
              =@product.prefecture.name
      .products-information__item__description__bottom-content
        .products-information__item__description__bottom-content__left-body
          %h1<発送日の目安
        .products-information__item__description__bottom-content__right-body
          %p
            = @product.deliverytime
  .products-information__price
    .products-information__price__text-box
      %h1
        = jpy_comma(@product.price)
      %h2<(税込)
      %h3<送料込み
  - if user_signed_in? && current_user.id == @product.user.id
    .products-information__checkout-btn
      = link_to edit_product_path(@product), class:'products-information__checkout-btn__edit' do
        %p<編集 
      = link_to "/products/#{@product.id}", method: :delete, class:'products-information__checkout-btn__delete' do
        %p<削除
  - else
    = link_to "/purchases/#{@product.id}/edit" do
      .products-information__checkout-btn
        %p<購入画面に進む
  .products-information__user-message
    %p
      =@product.description
= link_to '#' do
  %h2.products-name
    =@product.user.nickname
    さんのその他の出品
.products-informationpage__items
  - @user.each do |user_product|
    - if @product != user_product
      = render partial: 'products-content', locals: { product: user_product }
= link_to '#' do
  %h2.products-name<同じカテゴリのその他の出品
.products-informationpage__items
-# カテゴリ機能追加時に実装
  -# = render 'products-content'
  -# = render 'products-content'
  -# = render 'products-content'

= render 'partials/banner'
= render 'partials/footer'
