.wrapper
  .header
    = render partial: "partials/header"
  .main
    = render partial: "partials/identification-inside"
  .banner
    = render partial: "partials/banner"
  .footer
    = render partial: "partials/footer"
  .sell-camera
    = render partial: "partials/sell-camera"