.registar-header1.active.hidden
  .registar-header__inner
    %h1.registar-header__inner__logo 
      = link_to '#',  class: 'registar-header__inner__logo__url' do
        = image_tag 'common/logo.svg', class: 'registar-header__inner__logo__url__img'
    %h1.registar-header__inner__progress
      %ol.registar-header__inner__progress__bar
        %li.registar-header__inner__progress__bar__active
          会員情報
          .registar-header__inner__progress__bar__active__status
        %li.registar-header__inner__progress__bar__inactive
          電話番号認証
          .registar-header__inner__progress__bar__inactive__status
        %li.registar-header__inner__progress__bar__inactive
          お届け先住所入力
          .registar-header__inner__progress__bar__inactive__status
        %li.registar-header__inner__progress__bar__inactive
          支払い方法
          .registar-header__inner__progress__bar__inactive__status
        %li.registar-header__inner__progress__bar__last
          完了
          .registar-header__inner__progress__bar__last__status
.registar-header2.hidden
  .registar-header2__inner
    %h1.registar-header2__inner__logo 
      = link_to '#',  class: 'registar-header2__inner__logo__url' do
        = image_tag 'common/logo.svg', class: 'registar-header2__inner__logo__url__img'
    %h1.registar-header2__inner__progress
      %ol.registar-header2__inner__progress__bar
        %li.registar-header2__inner__progress__bar__active1
          会員情報
          .registar-header2__inner__progress__bar__active1__status
        %li.registar-header2__inner__progress__bar__active2
          電話番号認証
          .registar-header2__inner__progress__bar__active2__status
        %li.registar-header2__inner__progress__bar__inactive
          お届け先住所入力
          .registar-header2__inner__progress__bar__inactive__status
        %li.registar-header2__inner__progress__bar__inactive
          支払い方法
          .registar-header2__inner__progress__bar__inactive__status
        %li.registar-header2__inner__progress__bar__last
          完了
          .registar-header2__inner__progress__bar__last__status
.registar-header-address.hidden
  .registar-header-address__inner
    %h1.registar-header-address__inner__logo 
      = link_to '#',  class: 'registar-header__inner__logo__url' do
        = image_tag 'common/logo.svg', class: 'registar-header__inner__logo__url__img'
    %h1.registar-header-address__inner__progress
      %ol.registar-header-address__inner__progress__bar
        %li.registar-header-address__inner__progress__bar__active
          会員情報
          .registar-header-address__inner__progress__bar__active__status__info
        %li.registar-header-address__inner__progress__bar__active
          電話番号認証
          .registar-header-address__inner__progress__bar__active__status__phone-numeber
        %li.registar-header-address__inner__progress__bar__active
          お届け先住所入力
          .registar-header-address__inner__progress__bar__active__status__address
        %li.registar-header-address__inner__progress__bar__inactive
          支払い方法
          .registar-header-address__inner__progress__bar__inactive__status
        %li.registar-header-address__inner__progress__bar__last
          完了
          .registar-header-address__inner__progress__bar__last__status
.registar-header-pay.hidden
  .registar-header-pay__inner
    %h1.registar-header-pay__inner__logo 
      = link_to '#',  class: 'registar-header__inner__logo__url' do
        = image_tag 'common/logo.svg', class: 'registar-header__inner__logo__url__img'
    %h1.registar-header-pay__inner__progress
      %ol.registar-header-pay__inner__progress__bar
        %li.registar-header-pay__inner__progress__bar__active
          会員情報
          .registar-header-pay__inner__progress__bar__active__status__info
        %li.registar-header-pay__inner__progress__bar__active
          電話番号認証
          .registar-header-pay__inner__progress__bar__active__status__phone-numeber
        %li.registar-header-pay__inner__progress__bar__active
          お届け先住所入力
          .registar-header-pay__inner__progress__bar__active__status__address
        %li.registar-header-pay__inner__progress__bar__active
          支払い方法
          .registar-header-pay__inner__progress__bar__active__status__pay
        %li.registar-header-pay__inner__progress__bar__last
          完了
          .registar-header-pay__inner__progress__bar__last__status